body {
    background-color: #3A3B54;

    header {
        nav {
            margin: 0 auto;
            width: fit-content;
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
        
            a {
                padding: 20px;
                font-family: Brainstorm;
                font-size: 50px;
                text-decoration: none;
                color: white;
            }
        }
        
        .st1, .st2 {
            width: 31px;
            height: 31px;
        }
        
        .st1 {
            position: absolute;
            top: 60px;
            right: 80px;
        }
        
        .st2 {
            position: absolute;
            top: 60px;
            right: 30px;
        }
    }

    main {
        .iFrameContainer{
            background-color: white;
            position: absolute;
            top: 120px;
            left: 50px;
            width: 750px;
            height: 450px;
        }

        h1 {
            font-family: Brainstorm;
            position: absolute;
            color: white;
            top: 130px;
            left: 850px;
        }

        h3 {
            font-family: MS PGothic;
            position: absolute;
            color: white;
            top: 180px;
            left: 850px;
            justify-content: left;
            margin-right: 100px;
        }

        .st3 {
            position: absolute;
            right: 50px;
            top: 150px;
            width: 25px;

            h1 {
                font-family: Brainstorm;
                position: absolute;
            }
        }
    }

    footer {
        .st4 {
            position: relative;
            bottom: -500px;

            h1 {
                margin: 0 auto;
                width: fit-content;
                font-family: Brainstorm;
                color: white;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 20px;
                
                span {
                    font-family: MS PGothic;
                    color: white;
                }
            }
        }
    }
}

@media (min-width: 1280px) and (min-height: 816px) {
    body {
        background-color: #3A3B54;
    
        header {
            nav {
                margin: 0 auto;
                width: fit-content;
                position: absolute;
                top: 15px;
                left: 0;
                right: 0;
            
                a {
                    padding: 20px;
                    font-family: Brainstorm;
                    font-size: 50px;
                    text-decoration: none;
                    color: white;
                }
            }
            
            .st1, .st2 {
                width: 31px;
                height: 31px;
            }
            
            .st1 {
                position: absolute;
                top: 60px;
                right: 80px;
            }
            
            .st2 {
                position: absolute;
                top: 60px;
                right: 30px;
            }
        }
    
        main {
            .iFrameContainer{
                background-color: white;
                position: absolute;
                top: 120px;
                left: 50px;
                width: 750px;
                height: 450px;
            }
    
            h1 {
                font-family: Brainstorm;
                position: absolute;
                color: white;
                top: 130px;
                left: 850px;
            }
    
            h3 {
                font-family: MS PGothic;
                position: absolute;
                color: white;
                top: 180px;
                left: 850px;
                justify-content: left;
                margin-right: 100px;
            }
    
            .st3 {
                position: absolute;
                right: 50px;
                top: 150px;
                width: 25px;
    
                h1 {
                    font-family: Brainstorm;
                    position: absolute;
                }
            }
        }
    
        footer {
            .st4 {
                position: relative;
                bottom: -700px;
    
                h1 {
                    margin: 0 auto;
                    width: fit-content;
                    font-family: Brainstorm;
                    color: white;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20px;
                    
                    span {
                        font-family: MS PGothic;
                        color: white;
                    }
                }
            }
        }
    }
}